<!DOCTYPE html>

<html lang = "en">
<head>
	<meta charse ="UTF-8">
	<meta name = "viewport"
	content = "width = device-width, initial-scale = 1/0">
	<title>Cart Checkout</title>
	
	<!-- JQUERY CDN-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">	
	<link rel= "stylesheet" type = "text/css" href = "{{ url_for('static',filename='first_page_styles.css') }}">	
	<link rel="stylesheet" type = "text/css" href = "{{ url_for('static',filename='cart_styles.css') }}"/>	
</head>

<body>
		<!--Top bar-->
	<nav class = "bar"><!--defines a set of navigation links-->
		<div class = "bar__container">
				<a href = "/home" id = "Logo"><img src = "{{ url_for('static',filename='Logo.png') }}" alt ="Logo" width = "150px" height = "150px"></img><b>SDSU Saudi Club</b></a>
				<div class = "bar__toggle" id = "menu">
					<span class = "nav"></span>
					<span class = "nav"></span>
					<span class = "nav"></span>
				</div>
				<ul class ="bar__menu"><!--Elements in menu -->
					<li class ="bar__item"><!--Format elements-->
						<a href ="/home" class ="bar_links">Home</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/store" class ="bar_links">Store</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/events" class ="bar_links">Events</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/about" class ="bar_links">About Us</a>
					</li>
					<li class = "bar__btn">
						<a href = "/cart" class><img src = "{{ url_for('static',filename='cart.png') }}" alt = "cart" id = "cart_img" width = "50px" height = "50px"></img><br></a>
					</li>
					<li class = "bar__btn">
						<a href = "/login" class = "button">Logout</a>
					</li>				 
				</ul>
				
		</div>
	</nav>
				

	
</body>

				<div class = "login">
						<h1 class = "title">CHECK OUT</h1>
									<div class="container" id="container">
								<div class="form-container Sign-Up-container">
									<form action="">
										<h1>Bank Information</h1><br><br><br><br><br>
										
										<input type="Phone" name="credi_card" placeholder="Credi Card Number">
										<input type="Phone" name="CVV" placeholder="CVV">
										<input type="Phone" name="card_expiration_data" placeholder="Card Expiration Data">
										<br><br><br>
										<button class="ghost" id="signUp">Check Out</button>
									</form>
								</div>
									
								<div class="form-container log-in-container">
									<form action="#">
										<h1>Personal Information</h1>
										<input type="text" name="name" placeholder="Name">
										<input type="email" name="email" placeholder="Email">
										<input type="text" name="address" placeholder="Shipping Address">
										<input type="text" name="city" placeholder="City">
										<input type="text" name="state" placeholder="State">
										<input type="Phone" name="zip" placeholder="Zip code">
										<input type="Phone" name="Number" placeholder="Phone Number">
										
									</form>	
								</div>

							</div>
						
					</div>
<!-- 

<h2>Cart Checkout</h2>

<h1 class = "title"></h1>



<div class = "checkout">

<form action="/action_page.php">

  <label for="fname">First Name:</label>
  <input type="text" id="fname" name="fname"><br><br>

  <label for="lname">Last Name:</label>
  <input type="text" id="lname" name="lname"><br><br>

  <label for="lname">Shipping Address:</label>
  <input type="text" id="lname" name="address"><br><br>

  <label for="lname">City:</label>
  <input type="text" id="lname" name="city"><br><br>

  <label for="lname">State:</label>
  <input type="text" id="lname" name="state"><br><br>

  <label for="lname">Zip Code:</label>
  <input type="text" id="lname" name="zipcode"><br><br>


  <label for="lname">Phone Number:</label>
  <input type="text" id="lname" name="phone"><br><br>

  <label for="lname">Email:</label>
  <input type="text" id="lname" name="email"><br><br>

  <label for="lname">Credit Card #:</label>
  <input type="text" id="lname" name="card"><br><br>

  <label for="lname">CVV:</label>
  <input type="text" id="lname" name="cvv"><br><br>

  <label for="lname"> Card Expiration Date:</label>
  <input type="text" id="lname" name="expiration"><br><br>

<br>
<br>

  <input type="button" value="Confirm Order">

</div>
 -->

</form>

	<footer class="footer">
		<div class="container-footer">
			<div class="row">
				<div class="footer-col">
					<h4>Address</h4>
					<ul>
						<li><a>5500 Campanile Dr,</a></li>
						<li><a>San Diego, CA 92182</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4> Follow Us</h4>
					<div class ="social">
						<a href="https://www.facebook.com/groups/sscsdsu/?ref=share"><i class="fab fa-facebook -f"></i></a>
						<a href="https://mobile.twitter.com/sscsdsu"><i class="fab fa-twitter"></i></a>
						<a href="https://www.instagram.com/sscsdsu/"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="footer-col">
					<h4>Contact Us</h4>
					<ul>
						<li><a>Email : Saudisdsu@gmail.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>


















</body>

</html>
	
	<!--SERVICES-->

	<script src = "{{ url_for('static',filename='app.js') }}"></script>


</body>


</html>
