
<!DOCTYPE html>

<html lang = "en">
<head>
	<meta charse ="UTF-8">
	<meta name = "viewport"
	content = "width = device-width, initial-scale = 1/0">
	<title>Event Page</title>
	
	<!-- JQUERY CDN-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>

	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	
	<link rel= "stylesheet" type = "text/css" href = "{{ url_for('static',filename='first_page_styles.css') }}">
	<link rel="stylesheet" href = "{{ url_for('static',filename='event_page_styles.css') }}"/>

</head>

<body>
	<!--Top bar-->
	<nav class = "bar"><!--defines a set of navigation links-->
		<div class = "bar__container">
				<a href = "/home" id = "Logo"><img src = "{{ url_for('static',filename='Logo.png') }}" alt ="Logo" width = "150px" height = "150px"></img><b>SDSU Saudi Club</b></a>
				<div class = "bar__toggle" id = "menu">
					<span class = "nav"></span>
					<span class = "nav"></span>
					<span class = "nav"></span>
				</div>
				<ul class ="bar__menu"><!--Elements in menu -->
					<li class ="bar__item"><!--Format elements-->
						<a href ="/home" class ="bar_links">Home</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/store" class ="bar_links">Store</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/events" class ="bar_links">Events</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/about" class ="bar_links">About Us</a>
					</li>
					<li class = "bar__btn">
						<a href = "/cart" class><img src = "{{ url_for('static',filename='cart.png') }}" alt = "cart" id = "cart_img" width = "50px" height = "50px"></img><br></a>
					</li>			 
					<li class = "bar__btn">
						<a href = "/logout" class = "button">Logout</a>
					</li>			
				
				</ul>
				
		</div>
	</nav>

<!-- --------------------- TITLE BANNER ----------------- -->

<h1 class = "title">
Events Page
</h1>


<!-- --------------------- CALENDAR ----------------- -->



<div class = "calendarContainer">
	<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&src=MDZicGxyOTIwNG1ha28xamhxcWU3dTZtMWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23EF6C00" style="border:solid 1px #777" width="1200" height="600" frameborder="0" scrolling="no"></iframe>

	<a href = "/registration" class = "button" >Click Here To Register For An Event!</a>
</div>

<!-- --------------------- FORMER EVENTS ----------------- -->

<h2
style= "text-align: center" class = "title">Former Events</h2>


<div class = "eventImagesContainer">

<div class = "eventImages1">

	<img src= "{{ url_for('static',filename='image1.jpg') }}" alt="Paintball"> </img>

	<p0><u><b>Paintball Day</b></u></p0>
	<br>
	<p1> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p1>

</div>





<div class = "eventImages2">

	<img src="{{ url_for('static',filename='image2.jpg') }}" alt="Leadership Workshop"> </img>

	<p0><u><b>Leadership Workshop</b></u></p0>
	<br>
	<p1> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p1>

</div>




<div class = "eventImages3">

	<img src="{{ url_for('static',filename='image3.jpg') }}" alt="Networking"> </img>

	<p0><u><b>Networking Event</b></u></p0>
	<br>
	<p1> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p1>

</div>





<div class = "eventImages4">

	<img src="{{ url_for('static',filename='image4.jpg') }}" alt="MeetnGreet"> </img>

	<p0><u><b>Meet and Greet</b></u></p0>
	<br>
	<p1> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p1>

</div>

</div>


<!-- --------------------- EVENT FLYERS ----------------- -->
<h2 style= "text-align: center" class = "title">Event Flyers</h2>

<div class = "flyers_container">
<div class="row">

  <div class="column">
    <img src="{{ url_for('static',filename='image5.jpg') }}"></img>
	 <img src="{{ url_for('static',filename='image8.jpg') }}"></img>


  </div>


  <div class="column">
    <img src="{{ url_for('static',filename='image6.jpg') }}"></img>
 	<img src="{{ url_for('static',filename='image9.jpg') }}"></img>

  </div>


  <div class="column">
    <img src="{{ url_for('static',filename='image7.jpg') }}"></img>
 	<img src="{{ url_for('static',filename='image10.jpg') }}"></img>


  </div>

</div>
</div>





<!-- --------------------- FOOTER ----------------- -->



	<footer class="footer">
		<div class="container-footer">
			<div class="row">
				<div class="footer-col">
					<h4>Address</h4>
					<ul>
						<li><a href="#">5500 Campanile Dr,</a></li>
						<li><a href="#">San Diego, CA 92182</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4> Follow Us</h4>
					<div class ="social">
						<a href="https://www.facebook.com/groups/sscsdsu/?ref=share"><i class="fab fa-facebook -f"></i></a>
						<a href="https://mobile.twitter.com/sscsdsu"><i class="fab fa-twitter"></i></a>
						<a href="https://www.instagram.com/sscsdsu/"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="footer-col">
					<h4>Contact Us</h4>
					<ul>
						<li><a href="#">Email : Saudisdsu@gmail.com
</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
	<!--SERVICES-->

	<script src = "{{ url_for('static',filename='app.js') }}"></script>


</body>


</html>
