<!DOCTYPE html>

<html lang = "en">
<head>
	<meta charse ="UTF-8">
	<meta name = "viewport"
	content = "width = device-width, initial-scale = 1/0">
	<title>First Page</title>
	
	<!-- JQUERY CDN-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">	
	<link rel= "stylesheet" type = "text/css" href = "{{ url_for('static',filename='first_page_styles.css') }}">
</head>

<body>
	<!--Top bar-->
	<nav class = "bar"><!--defines a set of navigation links-->
		<div class = "bar__container">
				<a href = "/home" id = "Logo"><img src = "{{ url_for('static',filename='Logo.png') }}" alt ="Logo" width = "150px" height = "150px"></img><b>SDSU Saudi Club</b></a>
				<div class = "bar__toggle" id = "menu">
					<span class = "nav"></span>
					<span class = "nav"></span>
					<span class = "nav"></span>
				</div>
				<ul class ="bar__menu"><!--Elements in menu -->
					<li class ="bar__item"><!--Format elements-->
						<a href ="/home" class ="bar_links">Home</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/store" class ="bar_links">Store</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/events" class ="bar_links">Events</a>
					</li>
					<li class ="bar__item"><!--Format elements-->
						<a href ="/about" class ="bar_links">About Us</a>
					</li>
					<li class = "bar__btn">
						<a href = "/cart" class><img src = "{{ url_for('static',filename='cart.png') }}" alt = "cart" id = "cart_img" width = "50px" height = "50px"></img><br></a>
					</li>
					<li class = "bar__btn">
						<a href = "/logout" class = "button" name = "logout">Logout</a>
					</li>				 
				</ul>
				
		</div>
	</nav>
						

	<!--Hero section (basically the banner)-->

	<div class = "main">
		<div class="main__container"> 
			<div class = "main__content">
				<h1>SDSU SAUDI CLUB</h1>
				<h2>Welcome</h2>
				<p>Check out our upcoming events!</p>
				<button class = "main__btn">
					<a href ="/events">Events</a>
				</button>
			</div>

			<div class = "main__img--container">
				<!--TEST IMAGE HERE-->
				<img src = "{{ url_for('static',filename='Logo.png') }}" alt = "Logo" id = "main__img"></img>
			</div>
		</div>
	</div>
	
	<!--SERVICES-->
		<!--Footer-->
	<footer class="footer">
		<div class="container-footer">
			<div class="row">
				<div class="footer-col">
					<h4>Address</h4>
					<ul>
						<li><a>5500 Campanile Dr,</a></li>
						<li><a>San Diego, CA 92182</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4> Follow Us</h4>
					<div class ="social">
						<a href = "https://www.facebook.com/groups/sscsdsu/?ref=share"><i class="fab fa-facebook -f"></i></a>
						<a href = "https://mobile.twitter.com/sscsdsu"><i class="fab fa-twitter"></i></a>
						<a href = "https://www.instagram.com/sscsdsu/"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
				<div class="footer-col">
					<h4>Contact Us</h4>
					<ul>
						<li><a>Email: Saudisdsu@gmail.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src = "{{ url_for('static',filename='app.js') }}"></script>


</body>

</html>